body {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  background-image: url(seigaiha.png);
  padding: 25px;
}

h1 {
  font-weight: 800;
}

table {
}

tr {
  margin-left: 50px;
}

.library-artist {
  font-weight: 200;
}

.library-song {
  padding-left: 25px;
}

.songqueue-artist {
  font-weight: 200;
}

.songqueue-song {
  padding-left: 25px;
}

.play-counter {
  padding-left: 50px;
}